
#carouselExampleAutoplaying {
  /* border: 2px solid black; */
  padding: 30px 0;
}
#NavPara{
  position: absolute;
  margin-top: -0px;
  margin-left: 60px;
  font-size: 15px;
}
.imgSlider {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.imgSliDer {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}
.carousel-heading {
  font-weight: 600;
}

.carousel-text {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.5;
}

@media (max-width: 768px) {
  #carouselExampleAutoplaying {
    text-align: center;
  }

  .carousel-heading {
    margin-top: 1rem;
  }
  #NavPara{
    font-size: medium;
  }
  .teamCard{
    margin-left: 00px;
   /* position: absolute;  */
  }
  #teamCard1{
    margin-left: -550px;
  }
}
#CHead{
  font-size: 23px;
}
/* .carousel-inner{
  border: 2px solid black;
} */
#para1{
  position: absolute;
  top: 200px;
}
.img2, .img1{
  width: 350px; height: 240px; object-fit: cover;
}
.img3{
  width: 350px; height: 240px; object-fit: cover;
}
.img4{
  width: 350px; height: 240px; object-fit: cover;
}
.nav-link:hover{
  border-bottom: 2px solid #0d6efd;  
  padding-bottom: 2px;                
  transition: border-color 0.3s ease;
}
#heading{
  font-size: x-large;
  font-weight: bold;
}

#aboutPara{
  font-size: small;
  padding-top: 20px;
}
#AboutHead{
  padding-top:60px ;
}
#valuesList{
  font-size: 13px;
}
/* .card-img-top {
    height: 220px;      
    object-fit: cover;  
    width: 100%;
} */
.why-choose-bg .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-choose-bg .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.why-choose-bg ,#why-choose-bg {
    background-color: #f4f7ff;
}
.object-fit-cover {
    object-fit: cover;
}
.image-card-tall {
 margin-top: -15px;
  min-height: 350px; /* adjust as needed */
}
.course-card-img {
    height: 180px;          /* same height for all images */
    object-fit: cover;      /* crop image nicely */
}
.card:hover .course-card-img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
